@import url("https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

#sec-1 {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 97vh;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0;
  text-align: center;
}

.tm-container {
  max-width: 70vw;
  margin: 0;
}

#del {
  padding-top: 20px;
}

.col-md-12 {
  margin: 0;
  padding: 2%;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

.about {
  text-align: center;
  height: 250px;
}

.about h2 {
  margin-top: 30px;
}

.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  font-size: calc(1vw + 1vh + 0.5vmin);
  margin-top: 0;
  color: white;
  text-align: center;
}

.services h2 {
  position: relative;
  top: 30px;
  margin-bottom: 20px;
}

.what-we-do {
  text-align: center;
}

.what-we-do h2 {
  margin-top: 30px;
}

.what-we-do h3 {
  margin-top: 20px;
}

.show0,
.show1,
.show2 {
  display: none;
}

#sec-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

form {
  opacity: 0.55;
}

.contacts {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1500px;
}

.contacts h3 {
  position: relative;
  top: 30px;
}

.form-control {
  background-color: #66000000;
  color: white;
}

.input {
  margin-top: 30px;
}

.name {
  margin-right: 5px;
}

input.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}

.email {
  margin-right: 5px;
}

.social {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

textarea::placeholder {
  color: #ffffff;
}

.container {
  position: relative;
}

.middle {
  position: absolute;
  opacity: 0.8;
  text-align: center;
  top: 50%;
  left: 100%;
  transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  background: white;
  font-weight: bolder;
}

.came {
  text-align: center;
  padding-top: 10%;
}

.top {
  padding-bottom: 10%;
}
*/ .card {
  width: 33.33%;
}
