@import url("https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

#sec-1 {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 97vh;
  font-family: "Comfortaa", cursive;
  margin-bottom: 0;
}

.about {
  height: 250px;
}

.about h2 {
  margin-top: 30px;
}

.show0,
.show1,
.show2 {
  display: none;
}
